<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset='utf-8'>
    <title>AngularJS Class @Sinica Lab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="libs/angularjs/angular.js"></script>
    <script type="text/javascript" src="libs/angular-ui-router.js"></script>
    <script type="text/javascript" src="js/lab5_2.js"></script>
  </head>
<body ng-controller="helloWorld">
   <div class="container">
      輸入三次內容後，將您輸入的內容顯示在畫面上：<br>
      <input type='text' ng-model="msg" ng-init="test-a">
      <button class="btn btn-primary" ng-click="addMsg(msg)">看內容</button> 
   </div>
</body>
</html>
